{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<section class="col-xs-12 col-lg-8 col-lg-offset-2 col-md-12 col-xs-12 clearfix">
    <div class="">
        <h2 data-sr="move 16px scale up 80%, over 1s">Connexion</h2>
        <div class="col4 desktop-col3"></div>
        <div class="col-lg-12 col-md-8 col-md-offset-2">

            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-2 col-md-4 col-xs-4">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                    </div>
                </div>
                <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-2 col-md-4 col-xs-4">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centre">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
                <div class="col-lg-6 col-lg-offset-2 col-md-12 col-xs-12 col-sm-12 centre">
                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>
            </form>

        </div>
        <div class="col-xs-12 col-lg-12 center">
            <div class="space2"></div>
            <h5 class="like-h5 scroll-btn"> Vous n'avez pas de compte ? </h5>
            <a class="like-h5 scroll-btn" href="{{url('fos_user_registration_register')}}" title="Inscription"> <span><u>Inscrivez-vous en cliquant ici</u></span></a>
        </div>
    </div>
</section>





