{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb2">
                <h4>Catégorie : <span>Soft</span></h4>
                </div>
                {% for key, formation in formations %}
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" >
                        <div class="col-md-12 text-center">
                            {% for key, img in (formation.contenuImg) %}
                                {% if key == 0 %}
                                    <img class="img-responsive" src="{{img.urlImage }}">
                                {% endif %}
                            {% endfor %}
                            <br>
                            <h4 class="text-capitalize"> {{ formation.nomformation }} </h4>
                            <p class="text-left"> {{ formation.description }}   <a href="{{ path('formation_show', {'idformation': formation.idformation}) }}" > En savoir plus </a></p>
                        </div>
                        <div class="col-md-12">
                        </div>
                    </div>
                {% endfor %}

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 endcat text-center">
        <p> . . .</p>
    </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb2 mt2">

                <h4>Catégorie : <span>vr</span></h4>
            </div>
            {% for key, formation in formations %}
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 text-center" >
                    <div class="col-md-12 text-center">
                        {% for key, img in (formation.contenuImg) %}
                            {% if key == 0 %}
                                <img class="img-responsive" src="{{img.urlImage }}">
                            {% endif %}
                        {% endfor %}
                        <br>
                        <h4 class="text-capitalize"> {{ formation.nomformation }} </h4>
                        <p class="text-left"> {{ formation.description }}   <a href="{{ path('formation_show', {'idformation': formation.idformation}) }}" > En savoir plus </a></p>
                    </div>

                </div>
            {% endfor %}

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 endcat text-center">
            <p> . . .</p>
        </div>

            </div>

{% endblock %}