{% extends 'layoutuser.html.twig' %}
{% block body %}

    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="card-header">
                        <h5 class="title">Mes Formation en cour</h5>
                    </div>

                    <div class="card-body">
                            {% for formation in formations %}
                                {% for  img in formation.contenuImg  %}
                                    <div class="row user" onclick="showformation({{ formation.idformation }})">
                                        <div class="col-md-4" style="margin-top: 5%;">
                                            <img class="img-responsive" src="{{ img.urlImage}}">
                                        </div>
                                        <div class="col-md-8">
                                            <p class="text-left text-uppercase" style="margin-top: 5%;"> <span class="text-capitalize">Nom :  {{ formation.nomFormation }}  </span></p>
                                            Description :  {{ formation.description }}<br>
                                            Date de la Publication :  {{ formation.dateDePublication|date("d/m/Y") }} </p>
                                        </div>
                                    </div>
                                {% endfor %}
                                <hr>
                            {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="title" id="nomformation"></h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="img-responsive" id="imgformation" src="">
                                </div>
                                <div class="col-md-12">
                                    <h4 class="text-center" id="titre"></h4>
                                </div>
                                <div class="col-md-12">
                                    <p id="info"></p>
                                </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showformation(id) {

            $.ajax({url: "byformation/"+id , success: function(result){
                    var item = JSON.parse(result.user);
                    console.log(item);
                    document.getElementById("imgformation").src = item.Urlimage;
                    document.getElementById("nomformation").innerText = item.nom;
                    document.getElementById("info").innerText = item.text;
                    document.getElementById("titre").innerText = item.titre;

                },error: function(result){
                    console.log(result);
                }});
        }

    </script>

{% endblock %}
